@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-idroid: "idroid", cursive;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

.externo::after {
    content: '\0020\1F517';
}

header {
    background: linear-gradient(360deg, var(--cor5), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header h1 {
    color: white;
    margin-bottom: 20px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.334);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    padding: 0px 10px;
    max-width: 600px;
    margin-bottom: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.334);
}

nav {
    background: var(--cor5);
    font-family: var(--fonte-padrao);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.44);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-idroid);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    color: var(--cor4);
    font-family: var(--fonte-idroid);
    font-weight: normal;
    font-size: 1.4em;
    text-indent: 8px;
}

main p {
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.8em;
    margin: 15px 0px;
}

main strong {
    color: var(--cor5);
    font-weight: 700;
}

main a {
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: 700;
    padding: 2px 3px;
    text-decoration: none;
    border-radius: 3px;
}

main a:hover {
    color: var(--cor4);
    text-decoration: underline;
}

main img {
    width: 100%;
}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 57%;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.332);
}

aside > h3 {
    background-color: var(--cor2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}

footer a {
    color: white;
    padding: 4px;
    font-weight: 800;
    text-decoration: none;
    border-radius: 5px;
}

footer a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    text-decoration: underline;
}